In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
dataset = pd.read_csv('C:\\Users\\Sentz\\Desktop\EPICODE\\Modulo 4 - Python\\Esercizio finale RECUPERO\\owid-covid-data.csv')

In [9]:
dataset
#Il dataset contiene 350048 righe e 67 colonne

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350043,ZWE,Africa,Zimbabwe,2023-10-14,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350044,ZWE,Africa,Zimbabwe,2023-10-15,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350045,ZWE,Africa,Zimbabwe,2023-10-16,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350046,ZWE,Africa,Zimbabwe,2023-10-17,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350047,ZWE,Africa,Zimbabwe,2023-10-18,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [6]:
dataset.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [7]:
dataset.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [10]:
dataset.info()
#Il dataset contiene 62 dati di tipo float64 e 5 dati di tipo object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350048 entries, 0 to 350047
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    350048 non-null  object
 1   continent                                   333397 non-null  object
 2   location                                    350048 non-null  object
 3   date                                        350048 non-null  object
 4   total_cases                                 312088 non-null  float64
 5   new_cases                                   340457 non-null  float64
 6   new_cases_smoothed                          339198 non-null  float64
 7   total_deaths                                290501 non-null  float64
 8   new_deaths                                  340511 non-null  float64
 9   new_deaths_smoothed                         339281 non-null  float64
 10  total_cases_per_million                     312088 non-null  float64
 11  new_cases_per_million                       340457 non-null  float64
 12  new_cases_smoothed_per_million              339198 non-null  float64
 13  total_deaths_per_million                    290501 non-null  float64
 14  new_deaths_per_million                      340511 non-null  float64
 15  new_deaths_smoothed_per_million             339281 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37611 non-null   float64
 18  icu_patients_per_million                    37611 non-null   float64
 19  hosp_patients                               38894 non-null   float64
 20  hosp_patients_per_million                   38894 non-null   float64
 21  weekly_icu_admissions                       10202 non-null   float64
 22  weekly_icu_admissions_per_million           10202 non-null   float64
 23  weekly_hosp_admissions                      23243 non-null   float64
 24  weekly_hosp_admissions_per_million          23243 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          79284 non-null   float64
 35  people_vaccinated                           75888 non-null   float64
 36  people_fully_vaccinated                     72551 non-null   float64
 37  total_boosters                              47540 non-null   float64
 38  new_vaccinations                            65330 non-null   float64
 39  new_vaccinations_smoothed                   180694 non-null  float64
 40  total_vaccinations_per_hundred              79284 non-null   float64
 41  people_vaccinated_per_hundred               75888 non-null   float64
 42  people_fully_vaccinated_per_hundred         72551 non-null   float64
 43  total_boosters_per_hundred                  47540 non-null   float64
 44  new_vaccinations_smoothed_per_million       180694 non-null  float64
 45  new_people_vaccinated_smoothed              180466 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  180466 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          297154 non-null  float64
 49  median_age                                  276343 non-null  float64
 50  aged_65_older                               266684 non-null  float64
 51  aged_70_older                               273573 non-null  float64
 52  gdp_per_capita                              270839 non-null  float64
 53  extreme_poverty                             174546 non-null  float64
 54  cardiovasc_death_rate                       271467 non-null  float64
 55  diabetes_prevalence                         285279 non-null  float64
 56  female_smokers                              203639 non-null  float64
 57  male_smokers                                200869 non-null  float64
 58  handwashing_facilities                      132971 non-null  float64
 59  hospital_beds_per_thousand                  239649 non-null  float64
 60  life_expectancy                             322048 non-null  float64
 61  human_development_index                     263118 non-null  float64
 62  population                                  350048 non-null  float64
 63  excess_mortality_cumulative_absolute        12184 non-null   float64
 64  excess_mortality_cumulative                 12184 non-null   float64
 65  excess_mortality                            12184 non-null   float64
 66  excess_mortality_cumulative_per_million     12184 non-null   float64
dtypes: float64(62), object(5)
memory usage: 178.9+ MB

In [13]:
#Iniziamo filtrando le righe in cui la colonna CONTINENT non risulta vuota
continentfiltered = dataset.dropna(subset=['continent'])

In [15]:
continentfiltered
#eseguiamo un check dei record esclusi

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350043,ZWE,Africa,Zimbabwe,2023-10-14,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350044,ZWE,Africa,Zimbabwe,2023-10-15,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350045,ZWE,Africa,Zimbabwe,2023-10-16,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350046,ZWE,Africa,Zimbabwe,2023-10-17,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350047,ZWE,Africa,Zimbabwe,2023-10-18,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [18]:
continent_tot_cases = continentfiltered.groupby('continent')['total_cases'].sum()

print(continent_tot_cases)

continent
Africa           1.083214e+10
Asia             1.654005e+11
Europe           1.637914e+11
North America    9.119385e+10
Oceania          7.324359e+09
South America    5.370432e+10
Name: total_cases, dtype: float64

In [28]:
#Creiamo una funzione che acquisisca in input il dataset e due continenti e restituisce dei valori statistici(casi)
def confronto_casi(dataset, continent1, continent2):
    world_tot_cases = dataset['total_cases'].sum()
    
    #Filtriamo i dataset specifici per iu continenti indicati
    dataset_continent1 = dataset[dataset['continent'] == continent1]
    dataset_continent2 = dataset[dataset['continent'] == continent2]
    
    #Creiamo i descrittori statistici dei continenti(Continente 1)
    min_continent1 = dataset_continent1['total_cases'].min()
    max_continent1 = dataset_continent1['total_cases'].max()
    avg_continent1 = dataset_continent1['total_cases'].mean()
    
    #Creiamo i descrittori statistici dei continenti(Continente 2)
    min_continent2 = dataset_continent2['total_cases'].min()
    max_continent2 = dataset_continent2['total_cases'].max()
    avg_continent2 = dataset_continent2['total_cases'].mean()
    
    #Calcoliamo la percentuale per i continenti indicati
    perc_continent1 = (avg_continent1 / world_tot_cases) 
    perc_continent2 = (avg_continent2 / world_tot_cases) 
    
    results = {
        "Min_{}".format(continent1): min_continent1,
        "Max_{}".format(continent1): max_continent1,
        "Avg_{}".format(continent1): avg_continent1,
        "Perc._{} of World".format(continent1): perc_continent1,
        "Min_{}".format(continent2): min_continent2,
        "Max_{}".format(continent2): max_continent2,
        "Avg_{}".format(continent2): avg_continent2,
        "Perc._{} of World".format(continent2): perc_continent2,
    }
    
    return results


results = confronto_casi(continentfiltered, 'Asia', 'Europe')
print(results)

{'Min_Asia': 1.0, 'Max_Asia': 99315684.0, 'Avg_Asia': 2789263.323428726, 'Perc._Asia of World': 5.666394293468571e-06, 'Min_Europe': 1.0, 'Max_Europe': 38997490.0, 'Avg_Europe': 2414271.2876789058, 'Perc._Europe of World': 4.904597186102978e-06}

In [35]:
#Creiamo una funzione che acquisisca in input il dataset e due continenti e restituisce dei valori statistici(vaccinazioni)
def confronto_vac(dataset, cont1, cont2):
    world_tot_cases2 = dataset['total_vaccinations'].sum()
    
    dataset_cont1 = dataset[dataset['continent'] == cont1]
    dataset_cont2 = dataset[dataset['continent'] == cont2]
    
    min_cont1 = dataset_cont1['total_vaccinations'].min()
    max_cont1 = dataset_cont1['total_vaccinations'].max()
    avg_cont1 = dataset_cont1['total_vaccinations'].mean()
    
    min_cont2 = dataset_cont2['total_vaccinations'].min()
    max_cont2 = dataset_cont2['total_vaccinations'].max()
    avg_cont2 = dataset_cont2['total_vaccinations'].mean()
    
    perc_cont1 = (avg_cont1 / world_tot_cases2) 
    perc_cont2 = (avg_cont2 / world_tot_cases2) 
    
    results = {
        "Min_{}".format(cont1): min_cont1 , 
        "Max_{}".format(cont1): max_cont1, 
        "Avg_{}".format(cont1): avg_cont1, 
        "Perc._{} of World".format(cont1): perc_cont1,
        "Min_{}".format(cont2): min_cont2,
        "Max_{}".format(cont2): max_cont2,
        "Avg_{}".format(cont2): avg_cont2,
        "Perc._{} of World".format(cont2): perc_cont2,
    }
    
    return results


results = confronto_vac(continentfiltered, 'Asia', 'Europe')
print(results)

{'Min_Asia': 0.0, 'Max_Asia': 3491077000.0, 'Avg_Asia': 221484701.12186107, 'Perc._Asia of World': 3.8182173612587686e-05, 'Min_Europe': 0.0, 'Max_Europe': 192221468.0, 'Avg_Europe': 27530190.956920076, 'Perc._Europe of World': 4.745982568459495e-06}

In [36]:
#CONCLUSIONI
#Nell'analisi condotta sui dati relativi ai casi COVID-19 presenti nel dataset, con un focus specifico su Europa, Sud America e Oceania, emergono notevoli differenze.
#L'europa presenta un numero più elevato di casi confermati, con un massimo ed una media di casi totali particolarmente alta, così come la percentuale
#che riflette la gravità della situazione mondiale.
#L'Oceania invece esprime una situazione migliore, con numeri molto più bassi e contenuti.
#Il Sud America si colloca tra gli altri due continenti, mostrando un numero di casi significativo ed una moderata media e percentuale rispetto al totale mondiale.
#Questi valori indicano disparità regionali nella gestione della pandemia e sottolineano la necessità di strategie differenziate per
#affrontare l'emergenza sanitaria in queste regioni.